
@using DangKiMonHoc.Models;

@{
    ViewBag.Title = "Danh sách môn học";
    var stt = 1;
}

@if (Session["CurrentLogin"] != null && Session["Group"].ToString().Contains("1"))
{
    <div class="span12">
        @if (TempData.ContainsKey("Error"))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Error"]
            </div>
        }
        @if (TempData.ContainsKey("Success"))
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Success"]
            </div>
        }

        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i>
                <h3>Danh sách môn học</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 30px"> STT</th>
                            <th style="width: 80px"> Mã môn học</th>
                            <th style="width: auto"> Tên môn học</th>
                            <th style="width: 50px"> Số TC</th>
                            <th style="width: 50px"> Số TCHP</th>
                            <th style="width: 160px"> Loại Môn</th>
                            <th class="td-actions" style="width: 100px"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mh in ViewData["MonHoc"] as List<monhoc>)
                        {
                            <tr>
                                <td>@(stt++)</td>
                                <td>@mh.mamon</td>
                                <td>@mh.tenmon</td>
                                <td>@mh.sotinchi</td>
                                <td>@mh.sotinchihocphi</td>
                                <td>
                                    @foreach (var mm in ViewData["LoaiMon"] as List<loaimon>)
                                    {
                                        if (mh.maloai == mm.maloai)
                                        {
                                            @mm.tenloai;
                                        }
                                    }
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-danger open-editModal" data-toggle="modal" data-target="#editModal" data-mamon="@mh.mamon" data-tenmon="@mh.tenmon" data-stc="@mh.sotinchi" data-stchp="@mh.sotinchihocphi" data-mahocky="@mh.hocky.mahocky"><i class="fa fa-edit"></i>Chỉnh sửa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="editModal" class="modal-custom hide fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Chỉnh sửa</h3>
                    </div>
                    @using (Html.BeginForm("EditMon", "Admin", FormMethod.Post, new { @class = "form-custom" }))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Tên Môn Học</label>
                                        <div class="controls">
                                            @Html.Hidden("MaMon", ViewData["MaMon"], new { @class = "MaMon", @id = "MaMon" })
                                            @Html.TextBox("TenMon", ViewData["TenMon"], new { @class = "span4 TenMon", @placeholder = "Tên môn học" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Số tín chỉ:</label>
                                        <div class="controls">
                                            @Html.TextBox("SoTC", ViewData["SoTC"], new { @class = "span4 SoTC", @placeholder = "Số TC" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Số tín chỉ học phí:</label>
                                        <div class="controls">
                                            @Html.TextBox("SoTCHP", ViewData["SoTCHP"], new { @class = "span4 SoTCHP", @placeholder = "Số TCHP" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Học kỳ chính của môn học:</label>
                                        <select id="HK" name="HK" class="span4">
                                            <option disabled selected>Chọn học kỳ</option>
                                            @foreach (var item in ViewData["HocKy"] as List<hocky>)
                                            {
                                                <option value="@item.mahocky">@item.tenhocky</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Đóng</button>
                        <button type="submit" class="btn btn-primary">Chỉnh sửa môn học</button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <script type="text/javascript">
            //Sửa
            $(document).on("click", ".open-editModal", function () {
                var id = $(this).data('mamon');
                var fn = $(this).data('tenmon');
                var un = $(this).data('stc');
                var p = $(this).data('stchp');
                var g = $(this).data('mahocky');
                $(".edit-modal .modal-body .MaMon").val(id);
                $(".edit-modal .modal-body .TenMon").val(fn);
                $(".edit-modal .modal-body .SoTC").val(un);
                $(".edit-modal .modal-body .SoTCHP").val(p);
                $('#HK option[value="' + g + '"]').prop('selected', true);
            });
        </script>
    }
}
else
{
    Response.Redirect("~/Accounts/Index");
}