
@using DangKiMonHoc.Models;

@{
    ViewBag.Title = "Danh sách môn học";
    var stt = 1;
}

@if (Session["CurrentLogin"] != null && Session["Group"].ToString().Contains("1"))
{
    <div class="span9">
        @if (TempData.ContainsKey("Error"))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Error"]
            </div>
        }
        @if (TempData.ContainsKey("Success"))
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Success"]
            </div>
        }

        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i>
                <h3>Danh sách môn học</h3>
            </div>
            <div class="widget-content">
                <div style="margin-bottom: 20px">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#selectModal"><i class="fa fa-search"></i> Xem danh sách theo</button>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 30px"> STT</th>
                            <th style="width: 80px"> Mã môn học</th>
                            <th style="width: auto"> Tên môn học</th>
                            <th style="width: 40px"> Số TC</th>
                            <th style="width: 40px"> Số TCHP</th>
                            <th style="width: 160px"> Loại Môn</th>
                            <th class="td-actions" style="width: 30px"> </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @*Tùy chọn*@
                <div id="selectModal" class="modal-custom hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Tùy chọn</h3>
                    </div>
                    @using (Html.BeginForm("Monhoc", "Admin", FormMethod.Post, new { @class = "form-custom" }))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <select id="namhoc" name="namhoc" class="span4">
                                            <option disabled selected>Chọn năm học</option>
                                            @foreach (var item in ViewData["HocKy"] as List<hocky>)
                                            {
                                                <option value="@item.mahocky">@item.tenhocky</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <select id="hocky" name="hocky" class="span4">
                                            <option disabled selected>Chọn học kỳ</option>
                                            @foreach (var item in ViewData["HocKy"] as List<hocky>)
                                            {
                                                <option value="@item.mahocky">@item.tenhocky</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <select id="nganh" name="nganh" class="span4">
                                            <option disabled selected>Chọn ngành</option>
                                            @foreach (var item in ViewData["HocKy"] as List<hocky>)
                                            {
                                                <option value="@item.mahocky">@item.tenhocky</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Đóng</button>
                            <button class="btn btn-primary">Xem danh sách lớp học phần</button>
                        </div>
                    }
                </div>

                @*Chi tiết lớp học phần*@
                <div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-focus-on="input:first">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content" id="myModalContent"></div>
                    </div>
                </div>

                @*Mở lớp học phần*@
                <div id="addTime" class="modal-custom hide fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-focus-on="input:first">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Đặt thời gian</h3>
                    </div>
                    @using (Html.BeginForm("OpenClass", "Admin", FormMethod.Post, new { @class = "form-custom" }))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Mã lớp học phần:</label>
                                        <div class="controls">
                                            @Html.Hidden("ID", ViewData["ID"], new { @class = "ID", @id = "ID" })
                                            @Html.Hidden("MaLHP", ViewData["MaLHP"], new { @class = "MaLHP", @id = "MaLHP" })
                                            @Html.TextBox("MaLHP", ViewData["MaLHP"], new { @class = "span4 MaLHP disabled", @placeholder = "Mã lớp học phần", @disabled = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Thời gian mở đăng ký:</label>
                                        <div class="controls">
                                            @Html.TextBox("Ngay1", ViewData["Ngay1"], new { @class = "span4 Ngay1", @id = "datetimepicker-open", @placeholder = "Ngày mở đăng ký" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Thời gian kết thúc đăng ký:</label>
                                        <div class="controls">
                                            @Html.TextBox("Ngay2", ViewData["Ngay2"], new { @class = "span4 Ngay2", @id = "datetimepicker-close", @placeholder = "Ngày kết thúc đăng ký" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Số lượng sinh viên dự kiến:</label>
                                        <div class="controls">
                                            @Html.TextBox("SoCho", ViewData["SoCho"], new { @class = "span4 SoCho", @placeholder = "Số lượng sinh viên dự kiến" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy</button>
                            <button class="btn btn-primary">Mở</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect("~/Accounts/Index");
}