<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trường Đại Học Công Nghệ Sài Gòn</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/datetimepicker")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        &copy; @DateTime.Now.Year
                        <a href="http://www.stu.edu.vn/">Trường Đại Học Công Nghệ Sài Gòn</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        /* Menu Handler */
        $(function () {
            var url = window.location.pathname;
            var activePage = url.substring(url.lastIndexOf('/') + 1);
            $('.mainnav li a').each(function () {
                var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);

                if (activePage == currentPage) {
                    $(this).parent().addClass('active');
                }
            });
        });

        $('.subnavbar').addClass('original').clone().insertAfter('.subnavbar').addClass('cloned').css('position', 'fixed').css('width', '100%').css('top', '0').css('margin-top', '0').css('z-index', '500').removeClass('original').hide();
        scrollIntervalID = setInterval(stickIt, 10);
        function stickIt() {
            var orgElementPos = $('.original').offset();
            orgElementTop = orgElementPos.top;
            if ($(window).scrollTop() >= (orgElementTop)) {
                orgElement = $('.original');
                coordsOrgElement = orgElement.offset();
                leftOrgElement = coordsOrgElement.left;
                widthOrgElement = orgElement.css('width');

                $('.cloned').css('left', leftOrgElement + 'px').css('top', 0).css('width', widthOrgElement + 'px').show();
                $('.original').css('visibility', 'hidden');
            } else {
                $('.cloned').hide();
                $('.original').css('visibility', 'visible');
            }
        }

        //FAQ
        $(function () {
            $('.faq-list').goFaq();
        });

        //Datetimepicker
        $(function () {
            $('#datetimepicker').datetimepicker({
                format: "dd/mm/yyyy",
                language: 'vi',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('#datetimepicker-open').datetimepicker({
                format: "dd/mm/yyyy HH:ii:ss P",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                language: 'vi',
                minuteStep: 10
            });
            $('#datetimepicker-close').datetimepicker({
                format: "dd/mm/yyyy HH:ii:ss P",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                language: 'vi',
                minuteStep: 10
            });
            $('#datetimepicker-open').datetimepicker().on('changeDate', function (ev) {
                $('#datetimepicker-close').datetimepicker('setStartDate', ev.date);
            });
            $('#datetimepicker-close').datetimepicker().on('changeDate', function (ev) {
                $('#datetimepicker-open').datetimepicker('setEndDate', ev.date);
            });
        });
    </script>
</body>
</html>
